<!--<div class="fcontainer footBack">
    <p>Code hosted on <a href="https://github.com/Asthriona/Yukiko" target="_blank">GitHub</a>. Website hosted by
        <a href="https://Asthriona.com" target="_blank" rel="noopener noreferrer">Asthriona ltd.</a> DNS
        Powered by <a href="https://SiriusMediaGroup.com" target="_blank" rel="noopener noreferrer">Sirius Media Group llc.</a></p>
    <p>Domaine Uptime: <span class="uptime">Whoising domain creation time...</span><span class="timeJump"> (●'◡'●)ﾉ♥</span></p>
    <p>© Asthriona ltd 2019 -
        <script>document.write(new Date().getFullYear())</script> <a href="https://Asthriona.com">Asthriona</a>. Theme
        By
        <a href="https://Asthriona.com/" target="_blank">Asthriona</a>.</p>
    <p>Credit: Nako's art by <a href="http://twitter.com/lgisdead" target="_blank"
            rel="noopener noreferrer">lgisdead</a></p>
    <p><span>Made with</span>❤️ <span>by Asthriona.</span></p>
</div>
-->
<script src="/javascripts/index.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>