<%- include('partials/header.ejs') -%>
<%- include('partials/dashHead.ejs') -%>
<div class="spacer"></div>
<div class="text-center">
    <p>Wow! Such empty!</p>
<p>Only one thing to do...</p>
<img src="https://cdn.asthriona.com/3xxwf7.jpg" class="img-fluid" alt="">
</div>
<%- include('partials/footer.ejs') -%>