<%- include('partials/header.ejs') -%>

<div class="error">
    <center>
        <h1 class="text-center">Bummer!</h1>
        <h2 class="text-center">An error happened :c</h2>
    </center>
</div>
<pre style="background-color: aliceblue; border-radius: 10px;">
<%= message %> 
</pre>
<%- include('partials/footer.ejs') -%>