<%- include('partials/header.ejs') -%>
<div class="loginbtn">
    <a href="/auth">
        <form action="/auth">
            <button type="button" class="btn btn-outline-primary btn-lg" type="submit">Login w/ discord</button>
        </form>
    </a>
</div>
<%- include('partials/footer.ejs') -%>