    <header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="tridi">Yukiko Discord-Bot</h1><br><br>
        <div class="social ">
            <h3 class="tridi2">
                <a href="https://github.com/Asthriona"><i class="fab fa-github"></i></a>
            </h3>
        </div>        
      </div>
    </div>
  </div>
</header>
<section class="me bot col-md-12">
  <h1 class="title offset-1">
    What is this bot?
  </h1>
  <p class="text-justify offset-2 col-md-6">
    Yukiko is a discord bot developped by <a href="http://Asthriona.com" target="_blank" rel="noopener noreferrer">Asthriona</a>, Because Why pay for something, when you can make it for free?<br>
    We try to create a all in one bot, with as much functionality possible, but totaly free, and open source!<br>
  </p>
</section>
<section class="me help col-md-12">
  <h1 class="title offset-1">Help me!</h1>
  <p class="text-justify offset-2 col-md-6">
    <b>Want to help?</b> <br>
    You can take a look at the code on <a href="https://github.com/Asthriona/AsthriModBot" target="_blank" rel="noopener noreferrer">GitHub</a>
    Feel free to send pull request, We will review the code and merge it if we like the idea!<br>
    <b>You dont know code but still want to help?</b> <br>
    You still can help! If you find a bug, please go to <a href="https://github.com/Asthriona/AsthriModBot" target="_blank" rel="noopener noreferrer">GitHub</a> and open an issue.
    You can do the same if you have an idea! I will credit you in the README!
  </p>
</section>

<section class="me use col-md-12">
  <h1 class="title offset-1">What to use it on your server?</h1>
  <p class="text-justify offset-2 col-md-6">
    <b>You know how to host a Discord bot</b><br>
    If you already know how to host a discordbot, Feel free to clone the code on GitHub<br>
    <b>I dont want to host it myself.</b>
    We can host it for you! for now it's in some kind of closed beta. so please send an e-mail to <a href="mailto:yukiko@asthriona.com">Yukiko@Asthriona.com</a> I will come back to you as fast as possible.<br>
    Just tell me why you want the bot for, and send me an invitation. (I dont need any special permission, Just to make sure the bot run smoothly during the beta and fix issue faster :) )<br>
  </p>
  <p class="text-justify offset-2 col-md-6">
    <b>We are looking for big server with more than active 100 member.<br>
    If you agree to help me in the developement of the bot, please contact me at <a href="mailto:im@ashtriona.com">im@ashtriona.com</a> or on twitter <a href="http://twitter.com/asthriona" target="_blank" rel="noopener noreferrer">@Asthriona</a> It will be really nice of you! ❤</b>
  </p>
</section>
