    <header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="tridi">Yukiko Discord-Bot</h1><br><br>
        <div class="social ">
            <h3 class="tridi2">
                <a href="https://github.com/Asthriona"><i class="fab fa-github"></i></a>
            </h3>
        </div>        
      </div>
    </div>
  </div>
</header>
<section class="me bot col-md-12">
  <h1 class="title offset-1">
    What is this bot?
  </h1>
  <p class="text-justify offset-2 col-md-6">
    Yukiko a etait developper par <a href="http://Asthriona.com" target="_blank" rel="noopener noreferrer">Asthriona</a>, pour contré le systeme de dons de mee6.<br>
    Instead we propose a whole bot with the same functionalities (or more) but totaly free, and open source! Maintenant il est devenue un projet a part entierre avec un support des mises a jours et des idée inovante<br>
  </p>
</section>
<section class="me help col-md-12">
  <h1 class="title offset-1">Nous aider</h1>
  <p class="text-justify offset-2 col-md-6">
    Envie de nous aider?<br>
    Vous pouvez jetter un oeuil au code sur <a href="https://github.com/Asthriona/AsthriModBot" target="_blank" rel="noopener noreferrer">GitHub</a>
    n'hesitez pas a crée des pull-request nous les verifirons, testeront et les validerons si l'idée nous plait!<br>
    Vous ne savez pas coder mais vous avez envie d'aider quand méme?<br>
    C'est aussi possible, rendez vous sur <a href="https://github.com/Asthriona/AsthriModBot" target="_blank" rel="noopener noreferrer">GitHub</a> et crée une "issue"
    avec votre idée pour amélioré le bot et nous vous répondront le plus rapidement possible!
  </p>
</section>

<section class="me use col-md-12">
  <h1 class="title offset-1">Utiliser notre bot</h1>
  <p class="text-justify offset-2 col-md-6">
    Vous pouvez utiliser Yukiko-bot sans probleme, cependent vous devez l'heberger vous méme.<br>
    Nous pouvons vous l'heberger, mais il vous faudras nous contacter avant. n'hesitez pas a envoyer un mail a <a href="mailto:yukiko@asthriona.com">Yukiko@Asthriona.com</a> nous vous répondrons le plus rapidement possible.<br>
    dans votre mail dites nous ce qui vous interesse le plus sur le bot, et pourquoi vous le voulez, note importante dite nous combien de membre comporte votre serveur.<br>
  </p>
  <p class="text-justify offset-2 col-md-6">
    <b>Nous sommes actuelement a la recherche d'un serveur ayant +100 membre a des fin de test de resistance de nos serveur.<br>
    Si vous etes d'acord pour nous aider sur ces test n'hesitez pas a me contacter a <a href="mailto:im@ashtriona.com">im@ashtriona.com</a> Ce serais fort aprecier!</b>
  </p>
</section>
