<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/fa/css/all.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Boring SEO Stuff... -->
    <meta name="description" content="Yukiko is a custom, self hosted server bot.">
    <meta name="keywords" content="Asthriona,Sirius,media,group,nux,arch,cloudsdale,radio,brony,weeb,anime,developer,english,french,waifu,discord,bot,discord.js,js,node,nodejs">
    <meta name="author" content="Asthriona">

    <!--FavIco-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- TWITTER CARDS!-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="Yukiko" />
    <meta name="twitter:creator" content="@Asthriona" />
    <meta property="og:url" content="http://yukiko.nishikino.me/" />
    <meta property="og:title" content="Yukiko" />
    <meta property="og:description" content="Yukiko is a custom, self hosted server bot." />
    <meta name="twitter:image" content="https://cdn.asthriona.com/yukikobod%20background.jpg" />
  </head>
  <body>
    {{{body}}}
    <footer>
      © Copyright Asthriona LLC All Right Reserved. 2019 - 2020
    </footer>
      <!--boostrap stuff-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      console.log('%c Yukiko', 'font-size:100px;color:#fff;text-shadow:0 3px 0 #ccc,0 2px 0 #c9c9c9,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15);')
      console.log("Website developed by Asthriona")
      console.log("Hosted by Asthriona LLC")
      console.log("GitHub: https://github.com/Asthriona/YukikoSite")
    </script>
  </body>
</html>
