<%- include('partials/header.ejs') -%>
<%- include('partials/dashHead.ejs') -%>
<div class="spacer"></div>

<iframe src="http://status.yukiko.ovh/" frameborder="0"></iframe>

<%- include('partials/footer.ejs') -%>
