    <style>
      /* Style the video: 100% width and height to cover the entire window */
#video {
  position: fixed;
  right: 0;
  bottom: 0;
  /*top: 103px;*/
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
h1 {
  color: #f1f1f1;
  background-color: red;
}
    </style>

<center><!--<h1>I'm dealing with DDoS Attack all Domain are redirected.<br>Sorry :/</h1></center>-->
<video autoplay muted loop id="video">
  <source src="https://thumbs.gfycat.com/VacantCanineAdamsstaghornedbeetle-mobile.mp4" type="video/mp4">
</video>
<audio autoplay="true" volume="0.1" loop style="display:none;"  src="https://cdn.asthriona.com/you-got-jebaited-vengaboys-oldpepeoriginal.mp3"></audio>